<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineQuiz</display-name>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeStudentServlet</display-name>
    <servlet-name>WelcomeStudentServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.WelcomeStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeStudentServlet</servlet-name>
    <url-pattern>/WelcomeStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectTopicStudentServlet</display-name>
    <servlet-name>SelectTopicStudentServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.SelectTopicStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectTopicStudentServlet</servlet-name>
    <url-pattern>/SelectTopicStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeAdminServlet</display-name>
    <servlet-name>WelcomeAdminServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.WelcomeAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeAdminServlet</servlet-name>
    <url-pattern>/WelcomeAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageAdminServlet</display-name>
    <servlet-name>ManageAdminServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ManageAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAdminServlet</servlet-name>
    <url-pattern>/ManageAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminServlet</display-name>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/DeleteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPasswordAdminServlet</display-name>
    <servlet-name>EditPasswordAdminServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.EditPasswordAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPasswordAdminServlet</servlet-name>
    <url-pattern>/EditPasswordAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageClassServlet</display-name>
    <servlet-name>ManageClassServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ManageClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageClassServlet</servlet-name>
    <url-pattern>/ManageClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClassServlet</display-name>
    <servlet-name>AddClassServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.AddClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassServlet</servlet-name>
    <url-pattern>/AddClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditClassServlet</display-name>
    <servlet-name>EditClassServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.EditClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditClassServlet</servlet-name>
    <url-pattern>/EditClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClassServlet</display-name>
    <servlet-name>DeleteClassServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.DeleteClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClassServlet</servlet-name>
    <url-pattern>/DeleteClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTopicServlet</display-name>
    <servlet-name>ManageTopicServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ManageTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTopicServlet</servlet-name>
    <url-pattern>/ManageTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeteleTopicServlet</display-name>
    <servlet-name>DeteleTopicServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.DeteleTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeteleTopicServlet</servlet-name>
    <url-pattern>/DeteleTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTopicServlet</display-name>
    <servlet-name>AddTopicServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.AddTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTopicServlet</servlet-name>
    <url-pattern>/AddTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloneTopicServlet</display-name>
    <servlet-name>CloneTopicServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.CloneTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloneTopicServlet</servlet-name>
    <url-pattern>/CloneTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateQuizServlet</display-name>
    <servlet-name>CreateQuizServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.CreateQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuizServlet</servlet-name>
    <url-pattern>/CreateQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAnswerAdminServlet</display-name>
    <servlet-name>AddAnswerAdminServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.AddAnswerAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAnswerAdminServlet</servlet-name>
    <url-pattern>/AddAnswerAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultClassServlet</display-name>
    <servlet-name>ResultClassServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ResultClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultClassServlet</servlet-name>
    <url-pattern>/ResultClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetIPServlet</display-name>
    <servlet-name>ResetIPServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ResetIPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetIPServlet</servlet-name>
    <url-pattern>/ResetIPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetAllIPServlet</display-name>
    <servlet-name>ResetAllIPServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ResetAllIPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetAllIPServlet</servlet-name>
    <url-pattern>/ResetAllIPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDataServlet</display-name>
    <servlet-name>DeleteDataServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.DeleteDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDataServlet</servlet-name>
    <url-pattern>/DeleteDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckIPServlet</display-name>
    <servlet-name>CheckIPServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.CheckIPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckIPServlet</servlet-name>
    <url-pattern>/CheckIPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditQuizServlet</display-name>
    <servlet-name>EditQuizServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.EditQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuizServlet</servlet-name>
    <url-pattern>/EditQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTopicServlet</display-name>
    <servlet-name>EditTopicServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.EditTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTopicServlet</servlet-name>
    <url-pattern>/EditTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageStudentServlet</display-name>
    <servlet-name>ManageStudentServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ManageStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageStudentServlet</servlet-name>
    <url-pattern>/ManageStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditStudentServlet</display-name>
    <servlet-name>AdminEditStudentServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.AdminEditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditStudentServlet</servlet-name>
    <url-pattern>/AdminEditStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultTopicServlet</display-name>
    <servlet-name>ResultTopicServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ResultTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultTopicServlet</servlet-name>
    <url-pattern>/ResultTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPasswordStudentServlet</display-name>
    <servlet-name>EditPasswordStudentServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.EditPasswordStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPasswordStudentServlet</servlet-name>
    <url-pattern>/EditPasswordStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentServlet</display-name>
    <servlet-name>EditStudentServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.EditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentServlet</servlet-name>
    <url-pattern>/EditStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamServlet</display-name>
    <servlet-name>ExamServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamServlet</servlet-name>
    <url-pattern>/ExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerServlet</display-name>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.AnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/AnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportClassToExcelServlet</display-name>
    <servlet-name>ExportClassToExcelServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ExportClassToExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportClassToExcelServlet</servlet-name>
    <url-pattern>/ExportClassToExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportTopicToExcelServlet</display-name>
    <servlet-name>ExportTopicToExcelServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ExportTopicToExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportTopicToExcelServlet</servlet-name>
    <url-pattern>/ExportTopicToExcelServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ResetPassServlet</display-name>
    <servlet-name>ResetPassServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ResetPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassServlet</servlet-name>
    <url-pattern>/ResetPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowListStudentServlet</display-name>
    <servlet-name>ShowListStudentServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.ShowListStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowListStudentServlet</servlet-name>
    <url-pattern>/ShowListStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>EditPasswordChildAdminServlet</display-name>
    <servlet-name>EditPasswordChildAdminServlet</servlet-name>
    <servlet-class>vn.fpt.fsoft.intern517.olt.controller.EditPasswordChildAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPasswordChildAdminServlet</servlet-name>
    <url-pattern>/EditPasswordChildAdminServlet</url-pattern>
  </servlet-mapping>
</web-app>