CREATE DATABASE Online_Quiz
GO
USE [master]
GO
/****** Object:  Database [Online_Quiz]    Script Date: 16/08/2017 3:51:36 PM ******/
CREATE DATABASE [Online_Quiz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Online_Quiz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Online_Quiz.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Online_Quiz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Online_Quiz_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Online_Quiz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Online_Quiz]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 16/08/2017 3:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[classID] [int] IDENTITY(1,1) NOT NULL,
	[className] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_CLASS] PRIMARY KEY CLUSTERED 
(
	[classID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DO_TEST]    Script Date: 16/08/2017 3:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DO_TEST](
	[topicID] [int] NOT NULL,
	[quizName] [int] NOT NULL,
	[answerStudent] [nvarchar](50) NULL,
	[studentID] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_DO_TEST_1] PRIMARY KEY CLUSTERED 
(
	[topicID] ASC,
	[studentID] ASC,
	[quizName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EXAM]    Script Date: 16/08/2017 3:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAM](
	[examID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [nvarchar](250) NULL,
	[topicID] [int] NULL,
	[startTime] [datetime] NULL,
	[endTime] [datetime] NULL,
	[addressIP] [nvarchar](50) NULL,
	[result] [float] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_EXAM] PRIMARY KEY CLUSTERED 
(
	[examID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUIZ]    Script Date: 16/08/2017 3:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUIZ](
	[topicID] [int] NOT NULL,
	[quizName] [int] NOT NULL,
	[answer] [nvarchar](50) NULL,
	[maxAnswer] [int] NULL,
 CONSTRAINT [PK_QUIZ_1] PRIMARY KEY CLUSTERED 
(
	[quizName] ASC,
	[topicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 16/08/2017 3:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[studentID] [nvarchar](250) NOT NULL,
	[fullName] [nvarchar](250) NOT NULL,
	[sex] [bit] NOT NULL,
	[email] [nvarchar](250) NULL,
	[phoneNumber] [nvarchar](50) NULL,
	[classID] [int] NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOPIC]    Script Date: 16/08/2017 3:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPIC](
	[topicID] [int] IDENTITY(1,1) NOT NULL,
	[topicName] [nvarchar](250) NOT NULL,
	[cloneDay] [nvarchar](250) NULL,
 CONSTRAINT [PK_TOPIC] PRIMARY KEY CLUSTERED 
(
	[topicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER]    Script Date: 16/08/2017 3:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[userName] [nvarchar](250) NOT NULL,
	[password] [nvarchar](250) NOT NULL,
	[type] [varchar](10) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TOPIC] ON 

INSERT [dbo].[TOPIC] ([topicID], [topicName], [cloneDay]) VALUES (1, N'123', N'10:42:20 AM 04/08/2017')
INSERT [dbo].[TOPIC] ([topicID], [topicName], [cloneDay]) VALUES (2, N'3243', N'10:45:16 AM 04/08/2017')
SET IDENTITY_INSERT [dbo].[TOPIC] OFF
INSERT [dbo].[USER] ([userName], [password], [type]) VALUES (N'Administrator', N'123', N'1')
ALTER TABLE [dbo].[DO_TEST]  WITH CHECK ADD  CONSTRAINT [FK_DO_TEST_STUDENT] FOREIGN KEY([studentID])
REFERENCES [dbo].[STUDENT] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DO_TEST] CHECK CONSTRAINT [FK_DO_TEST_STUDENT]
GO
ALTER TABLE [dbo].[DO_TEST]  WITH CHECK ADD  CONSTRAINT [FK_DO_TEST_TOPIC] FOREIGN KEY([topicID])
REFERENCES [dbo].[TOPIC] ([topicID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DO_TEST] CHECK CONSTRAINT [FK_DO_TEST_TOPIC]
GO
ALTER TABLE [dbo].[EXAM]  WITH CHECK ADD  CONSTRAINT [FK_EXAM_STUDENT] FOREIGN KEY([studentID])
REFERENCES [dbo].[STUDENT] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EXAM] CHECK CONSTRAINT [FK_EXAM_STUDENT]
GO
ALTER TABLE [dbo].[EXAM]  WITH CHECK ADD  CONSTRAINT [FK_EXAM_TOPIC] FOREIGN KEY([topicID])
REFERENCES [dbo].[TOPIC] ([topicID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EXAM] CHECK CONSTRAINT [FK_EXAM_TOPIC]
GO
ALTER TABLE [dbo].[QUIZ]  WITH CHECK ADD  CONSTRAINT [FK_QUIZ_TOPIC] FOREIGN KEY([topicID])
REFERENCES [dbo].[TOPIC] ([topicID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUIZ] CHECK CONSTRAINT [FK_QUIZ_TOPIC]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_CLASS] FOREIGN KEY([classID])
REFERENCES [dbo].[CLASS] ([classID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_CLASS]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_USER] FOREIGN KEY([studentID])
REFERENCES [dbo].[USER] ([userName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_USER]
GO
USE [master]
GO
